# Database
DATABASE_URL="postgresql://user:password@localhost:5432/readful?schema=public"

# Next Auth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"

# Optional: For production
# DATABASE_URL="postgresql://user:password@your-db-host:5432/readful?schema=public"
# NEXTAUTH_URL="https://readful.vercel.app"
# NEXTAUTH_SECRET="your-production-secret-key"
